body{
    background-image: url('../images/bgpattern.jpg');
    font-family: 'Open Sans', sans-serif !important;
}

/*color*/
.white{
    background-color: #fff;
}
.fwhite{
    color: #fff !important;
}
.lightorrange{
    background-color: #e67817;
}
.orrange{
    background-color: #e15517;
}
.green{
    background-color: #004028;
}
.darkgreen{
    background-color: #172e24;
}
.darkgrey{
    background-color: #3f4447;
}
.darkred{
    background-color: #701f1c !important;
}
.fdarkgrey{
    color: #3f4447 !important;
}

.yellow{
    background-color: #f6b801;
}

.no-gutter > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}

/*Header--------------------------------------------*/
.header{
    display: block;
    min-height: 80px;
}

.logo{
    padding: 15px 0;
    float: left;
}
.title{
    /*border-left: 1px solid #00402a;*/
    float:left;
    margin-left: 20px;
    padding-left: 15px;
    font-size: 18px;
    color: #8d2121;
    font-weight: 700;
    line-height: 36px;
    margin-top: 20px;
    position: relative;
    background: transparent;
    -webkit-box-shadow: -5px 0px 8px -6px rgba(12,66,7,1);
    -moz-box-shadow:    -5px 0px 8px -6px rgba(12,66,7,1);
    box-shadow:         -5px 0px 8px -6px rgba(12,66,7,1);
}

.list-form{
    display:block;
    height:40px;
    margin-right: 20px;
}
.list-form a{
    color: #bababa;
    font-size: 11px;
    margin-top: -15px;
}

.list-form li.languange{
    width: 26px;
}

.list-form input{
    width: 150px !important;
    font-size: 11px;
    height:25px;
    margin-right: -35px;
}
.list-form .btn{
    border: 0;
    box-shadow: none;
    position: relative;
    background: transparent;
    margin-right: -25px;
}
.list-form .navbar-form{
    margin-top: 15px;
    margin-bottom: -15px;
}
.navbar{
        min-height: 0;
}
.navbar-default{
    border: 0;
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 25px;
    border-radius: 0;
    margin-right:0;
    background: transparent;
}
.nav>li>a{
    padding: 5px 15px;
}

.navbar-default .navbar-nav>li>a{    
    color: #fff;
}
.collapse.navbar-collapse ul{    
    background-color: #065139;
    float:right;
}


.collapse.navbar-collapse ul:before{
    content: "";
    background: url('../images/sec-nav.png') no-repeat 0 0px;
    position: absolute;
    z-index: 9999;
    width:60px;
    height:40px;
    margin-left: -60px;
    margin-top: -4px;
}

/*slider*/
.slider img{
    width: 100%;
}
.bx-wrapper{
    margin-bottom: 0 !important;
}
.bx-wrapper .bx-pager{
    display: none;
}
.bx-wrapper .bx-viewport{
    box-shadow: none !important;
    left: 0 !important;
    border: 0 !important;
}

/*welcome*/
.ribbon.left h1{
    background-color: #e15517;
    color: #fff;
    font-weight: 700;
    font-size:24px;
    padding: 17px 30px 18px 30px;
    position: absolute;
    z-index: 99;
    margin-top: -98px;
}

.ribbon.left h1:after{
    content:"";
    background: url('../images/ribbon-left.png') no-repeat 30px 0px;
    width:125px;
    height: 100px;
    position: absolute;
    z-index: 9999999999;
    margin-top: -17px;
}

.ribbon.right h1{
    background-color: #f6b801;
    color: #fff;
    font-weight: 700;
    font-size:24px;
    padding: 17px 30px 18px 30px;
    position: relative;
    z-index: 99;
    margin-top: -98px;
    float:right;
}

.ribbon.right h1::before{
    content:"";
    background: url('../images/ribbon-right-yellow.png') no-repeat 0px 0px;
    width:125px;
    height: 100px;
    position: absolute;
    z-index: 9999999999;
    margin-top: -17px;
    margin-left: -115px;
}

.welcome{
    padding: 80px 0 30px 0px;
    color: #636260;
}

.welcome h1{
    text-transform: uppercase;
}

.welcome h2{
    font-weight: 100 !important;
    line-height: 36px;
    font-size: 26px;
    padding-left: 15px;
}

.welcome p{
    font-size: 16px;
    font-weight: 100 !important;
}
.welcome .slogan{
    margin: 30px 0 20px 0;
}


/*Avertising*/
.advertising{
    padding: 60px 0;
}
.advertising-item{
    text-align: center;
    padding: 24px 0;
}
.advertising-item .item-icon{
    width: 95px;
    height: 95px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    padding: auto;
    margin: auto;
}
.advertising-item .item-icon img{
    margin-top: 20px;
}
.advertising-item h3{
    color: #fff;
    margin:15px 0;
    padding: 0;
    font-size: 18px;
}

.advertising-item .btn-xs,.widget-item .btn-xs, .advert-pk .btn-xs {
  border-radius: 10px !important;
    padding: 1px 10px;
}
.advertising-item .btn-primary {
  color: #e2e2e2;
  background-color: #741a1c;
  border-color: #741a1c;
}

.advert-pk .btn-primary {
  color: #3f4447;
  background-color: #fff;
  border-color: #fff;
    margin-top: 24px;
}

/*more-item collapse*/
.more-item {
    padding-left:15px;
    padding-right: 15px;
    color: #fff;    
    display: none;
}


.more-item p{
    font-size: 16px;
}


/*advert*/
.advert-img img{
    width:100%;
}

.advert-pk h2{
    margin-top: 24px;
}

.advert-desc, .advert-mk, .advert-pk{
    padding: 70px 15px;
}

.more-mk{
    padding: 0 30px 40px 30px;
    display:none;
}

.item-icon:hover{
    background: #701f1c;
    cursor: pointer;
}

.item-icon.active{
    background: #701f1c;
    cursor: pointer;
}
.btn.active{
    color: #e15517;
    cursor: pointer;
}


.more-mk .item-icon-mk{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #fff;
    margin-top: -12px;
    margin-right: 15px;
}

.more-mk a{
    color: #fff;
}
.more-mk .item-icon-mk img{
    width: 50px;
    margin-top: 13px;
}

.image-caption img{
    width:100%;
}

.image-caption{    
    margin-bottom: -450px;
    overflow: hidden;
    clear:both;
}

.caption-image.right{
    padding-right: 80px;
}
.caption-image.left{
    padding-left: 80px;
}

.caption-image h2{
    margin-bottom: 24px;
}

.caption-image p{
    margin-bottom: 24px;
    line-height: 24px;
}

.imc{
    margin-bottom: 65px;
}

.caption-image .name{
    font-size: 16px !important;
}

.slider-alumni img{
    width:100%;
    margin-bottom: -1px;
}
.slider-alumni h2{
    margin-bottom: 24px;
}
.slider-alumni p{
    font-weight:100 !important;
    font-family: "Open Sans";
    margin-bottom: 24px;
    line-height: 24px;
}

.slider-alumni .bx-caption span{
    margin: 0;
    padding: 0 !important;
    font-size:16px !important;
    margin-bottom: 60px;
}
.slider-alumni .bx-caption{
    background-color: transparent !important;
    margin-top: -50px !important;
    position: relative;
    padding-right: 70px;
    padding-left: 70px;
}

/*Galery*/
.galery-home, .advertising, .footer-widget,.footer-copy, .welcome{
    margin-left: 15px;
    margin-right: 15px;
}

.galery-home img{
    width:100%;
}


/*widget-item*/

.widget-item{
    padding: 30px 15px;    
    color: #8a8685;
}
.widget-item h3{
    font-size: 18px;
    text-transform: uppercase;
    margin:0;
    margin-bottom: 24px;
    padding: 0;
}
.widget-item .btn-primary {
  color: #e2e2e2;
  background-color: #aaa;
  border-color: #aaa;
  margin-top: 0px;
}
.widget-item li{
  margin-bottom: 20px;
}
.widget-item .btn-primary.pull {
    margin-left: 140px;
}

.widget-item .media img{
    border-radius: 3px;
    margin-right: 10px;
}
.widget-item .media a{
    text-decoration: none;
    color: #8a8685;
}
.widget-item .media p{
    font-size: 13px;    
    margin-bottom: 0px;
}
.widget-item .media span{
    font-size: 10px;
}



/*========================================
  FASILITAS
  ========================================*/
.advertising h2{
    padding-left: 15px;
    margin-top: 30px;
}
.advertising p{
    font-size: 16px;
    line-height: 24px;
}

/*========================================
  GALLERY
  ========================================*/
.slider-thumb .bx-pager img{
    width: 100%;
}


.slider-thumb{
    /*margin-left: 15px;
    margin-right: 15px;*/
}
.galeri-thumb{
    margin-left: 15px;
}

.test a img {
    
  }

.bx-pager a:hover img,
.bx-pager a.active img, .bx-pager a img.active{    
    background: #000;    
    -webkit-filter: grayscale(100%) !important; 
    filter: grayscale(100%) !important;
  }

.bx-pager a.active img{    
    cursor: default;
  }


/*========================================
  PROFIL
  ========================================*/
.profil-slider{
    margin-left: 15px;
    margin-right: 15px;
}

.profil-slider img{
    margin: 40px 60px;
}

.profil-slider.kegiatan img{
    margin: 40px 60px 40px 40px;
}

.profil-slider.kegiatan .caption{
    margin: 60px 0px 40px 60px;
}

.profil-slider .caption{
    margin: 60px 60px 40px 0;
    font-size: 16px;
    line-height: 24px;
}

.profil-slider .caption h2{
    margin-top: 48px;
    margin-bottom: 36px;
}
.profil-slider .caption p{
    margin-bottom: 36px !important;
}

.kerjasama{
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
}
.kerjasama img{
    width: 100%;
}

.kerjasama h2{
    margin-top: 48px;
}

/*========================================
  AGENDA
  ========================================*/
.welcome.agenda{
    padding-bottom: 0;
}

.agenda-content{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
}

.angenda-list{
    margin-bottom: 24px;
    display: block;
}

.angenda-list h4{
    margin-bottom: 24px;
    margin-top: 24px;
    text-transform: uppercase;
    display: block;
}

.angenda-list p{
    text-align: justify;
    font-size: 16px;
}

.angenda-list button{
    margin-top: 12px;
}

button.al{
    padding: 1px 10px;
    border-radius: 10px;
    background: #a5a5a5;
    border-color: #a5a5a5;
}

button.al:hover{
    background: #f6b801;
    border-color: #f6b801;
}

.thumb-agenda{
    margin-top: 16px;
}

.thumb-agenda img{
    width:100%;
}

.agenda-content ul{
    margin: 0;
    padding:0 60px;
    margin-bottom: 60px;
}

/*.pagination>li>a, .pagination>li:first-child>a, .pagination>li:last-child>a{
    border-radius: 50%;
    margin: 5px;
    background: #81807e;
    color: #fff;
    border-color: transparent;
}

.pagination>li>a:hover, .pagination>li:first-child>a:hover, .pagination>li:last-child>a:hover{
    background: #fab416;
    color: #fff;
    border-color: transparent;
}*/

/*========================================
  NEWS
  ========================================*/

.welcome.newsr{
    padding-bottom: 0;
}

.thumb-news{
    margin: 24px 0;
}

.thumb-news img{
    width: 100%;
}
.news-item{
    margin-bottom: 36px;
}
.news-item p{
    text-align: justify;
}

.news-item .al{
    margin-top: 6px;
}

.news{
    margin-bottom: 60px;
}

/*newsdetail*/



/*sidebar---------------------------------------------------*/
.sidebar{
}

.sidebar .widget{
    margin-bottom: 48px;
    display: block;
    width: 100%;
    clear: both !important;
}

.sidebar .widget .recent-post ul, .sidebar .widget .kategori ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .widget .recent-post li{
    border-bottom: 1px solid #c1c1c1;
    padding: 10px 0;
}

.sidebar .widget .kategori li{
    padding: 5px 0;
}

.sidebar .widget .kategori li:nth-child(2n) span i{
    background: #605c5b;
}

.sidebar .widget .kategori li span i{
    background: #82817f;
    width:30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    text-align: center;
    margin-top: 5px;
    color: #fff;
}

.sidebar .widget .kategori li span i.fa{
    padding-top: 8px;
}

.search .navbar-form{
    margin-left: -15px;
}

.search .navbar-form .form-group{
    display: block !important;
    width:100% !important;
}

.search .navbar-form .form-control{
    width: 100%;
}

.search .btn {
    border: 0px solid transparent;
    position: relative;
    float: right;
    margin-top: -33px;
    box-shadow: none;
    margin-right: 0px;
    background-color: transparent !important;
}


/*Footer----------------------------------------------------*/

.footer-widget{
    padding: 30px 0;
}

.widget-footer{
    color: #fff;
}
.widget-footer h5{
    margin-top: 24px;
    margin-bottom: 24px;
}

.widget-footer .list-inline{
    margin-top: 80px;
    color: #043e28;
}

.widget-footer .list-inline li{
    background: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;  
    text-align: center;
    margin-right: 10px;
}
.widget-footer .list-inline li i{  
    margin-top: 6px;
}

.logo-footer{
    width: 100%;
    text-align: center;
}
.footer-copy{
    border-top:1px solid #4c6158;
    color:#fff;
    text-align: center;
}
.footer-copy p{
    font-size: 11px;
    padding: 15px 0 0 0;
}
.footer-copy a{
    color:#fff;
}